<style>
    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li.title {
    }

    li.owner {
    }
    img
    {
        border-radius:3px;
        height:10px;
        width:10px;
    }
</style>

@using Microsoft.AspNetCore.Identity
@model IEnumerable<Car>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<h1>@UserManager.GetUserName(User)</h1>

<ul>
    @foreach (var movie in Model.GroupBy(t => t.Title))
    {
        <li class="title">
            @movie.Key
            <ul>
                @foreach (var item in movie)
                {
                    <li class="owner">
                        <img src="@Url.Action("GetImage", "Home", new { userid = item.OwnerId })" />
                        @item.Owner.FirstName @item.Owner.LastName

                        @if (item.OwnerId == UserManager.GetUserId(User))
                        {
                            <a href="Home/Delete?uid=@item.Uid">Delete</a>
                        }
                        @if (item.OwnerId != UserManager.GetUserId(User))
                        {
                            <a href="javascript:void(0);" onclick="buyCar('@item.Uid')">Buy</a>
                        }
                    </li>
                }
            </ul>
        </li>
    }
</ul>

<script>
    function buyCar(uid) {
        var confirmation = confirm("Are you sure you want to buy this car?");
        if (confirmation) {
            window.location.href = "Home/Delete?uid=" + uid;
        }
    }
</script>
